:root {
    --primary: #F29AAE;
    --secondary: #7132CA;
    --background: rgb(252, 248, 248);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--background);
    padding: 1rem;
}

.last-update {
    color: hsl(0, 0%, 20%);
    text-align: center;
    font-size: 0.75rem;
}

.content-1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    min-width: 200px;
}

.content-1 p {
    text-align: justify;
    font-size: 1rem;
    max-width: 700px;
    text-indent: 2rem;
}

.music-lyric {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    padding-bottom: 3rem;
    font-size: 1rem;
    gap: 1rem;
}

.lyric-container {
    background-color: #ffffff;
    padding: 1rem;
    color: hsl(0, 0%, 20%);
    border: 0.5px solid hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2px;
    filter: blur(0.8px);
    /* max-width: 750px; */
    box-shadow: 0 4px 8px 0px hsla(0, 0%, 0%, 15%);
}

.song-metadata {
    display: flex;
    gap: 0.5rem;
}

.album-cover {
    box-shadow: 0 4px 8px 0px hsla(0, 0%, 0%, 15%);
    border-radius: 4px;
}

.song-title {
    font-size: 1rem;
    font-weight: 700px;
}

.song-artist {
    font-size: 0.875rem;
    color: hsl(0, 0%, 30%);
}

@media (width < 64rem) {}